---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ '/assets/img/sleek_lg.jpg' | relative_url }}">
      <div class="hero__wrap">
      	<img class="frontlogo" src="{{ '/assets/img/oemlogo-white-horizontal-large.png' | relative_url }}">
      </div>
    </div>

    <main class="site__content">
    <div id="welcome" class="container">
    <div id="welcomeheader">
    <div class="welcomeinfo frontinfodescription englishinfo">
    <h1><a href="http://en.oneequallmusick.org">Welcome</a></h1>
    <p>Montreal-based One Equall Musick is a collaborative vocal ensemble dedicated to the programming and interpretation of high quality repertoire from the fifteenth-century to the present day. </p>
    </div>
    <div class="welcomeinfo frontinfodescription infofrancais">
    <h1><a href="http://fr.oneequallmusick.org">Bienvenue</a></h1>
    <p>Établi à Montréal, l’ensemble vocal collaboratif One Equall Musick se consacre à l’interprétation des oeuvres musicales les plus raffinées du XVe siècle à aujourd'hui.</p>
    </div>
    </div>
    <hr>
<div id="currentperformanceheader">
<h1>Biaute Paree de Valour</h1>
<h3>Oeuvres de Guillaume Machaut</h3>
<h5>Rebecca Bain, Direction</h5></div>
<div id="currentperformanceinfo" class="frontinfodescription">
<div class="performanceinfo englishinfo">
<h2>16 February 2018<br>3pm</h2><h3>Chapel of Notre Dame de Bonsecours</h3><p>400 St Paul St. East, Montreal</p><h4 class="right"><a href="http://en.oneequallmusick.org/tickets/">All Tickets</a></h4>
</div>
<div class="performanceinfo infofrancais">
<h2>16 Fév 2018<br>15h</h2><h3>Chapelle de Notre-Dame-de-Bonsecours</h3>
<p>400 Rue St Paul Est, Montréal</p><h4 class="left"><a href="http://fr.oneequallmusick.org/billets/">Tous les billets</a></h4>
</div>
</div>
</div>
    </main>

    {% include footer.html %}

  </body>

</html>
