---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ '/assets/img/sleek_lg.jpg' | relative_url }}">
      <div class="hero__wrap">
      	<img class="frontlogo" src="{{ '/assets/img/oemlogo-white-horizontal-large.png' | relative_url }}">
      </div>
    </div>

    <main class="site__content">
    <div id="welcome" class="container">
    <div id="welcomeheader">
    <div class="welcomeinfo frontinfodescription englishinfo">
    <h1><a href="http://en.oneequallmusick.org">Welcome</a></h1>
    <p>Montreal-based One Equall Musick is a collaborative vocal ensemble dedicated to the programming and interpretation of high quality repertoire from the fifteenth-century to the present day. </p>
    </div>
    <div class="welcomeinfo frontinfodescription infofrancais">
    <h1><a href="http://fr.oneequallmusick.org">Bienvenue</a></h1>
    <p>Établi à Montréal, l’ensemble vocal collaboratif One Equall Musick se consacre à l’interprétation des oeuvres musicales les plus raffinées du XVe siècle à aujourd'hui.</p>
    </div>
    </div>
    


<hr> <div id="currentperformanceheader">

  <div id="currentperformanceinfo" class="frontinfodescription">
    <div class="performanceinfo englishinfo">
      <h1>Afternoon Tea</h1>
      <h3>Fundraiser and Concert</h3>
      <h2>November 10, 2019<br>3 pm</h2><h3>Location TBD</h3>
      <p></p>
      <h4 class="right"><a href="https://oemafternoontea.bpt.me">Tickets</a></h4>
    </div>

    <div class="performanceinfo infofrancais">
      <h1>Afternoon Tea</h1>
      <h3>Concert et levée de fonds</h3>
      <h2>10 novembre, 2019<br>15 h</h2><h3>Lieu à déterminer</h3>
      <p></p>
      <h4 class="right"><a href="https://oemafternoontea.bpt.me">Billets</a></h4>
    </div>

  </div> 

<!-- <hr> <div id="currentperformanceheader">


<div id="currentperformanceinfo" class="frontinfodescription">
<div class="performanceinfo englishinfo">
<h2>Abendmusik&nbsp;&&nbsp;Music&nbsp;for&nbsp;the&nbsp;Hydroörganon</h2><br />
<h2>October 5, 2019<br>7 pm</h2><h3>Église Saint-Léon de Westmount</h3><p>44311, boul. de Maisonneuve Ouest, Montréal, QC</p>
<h4 class="right">Tickets <a href="http://ciocm.org/events2?language=en_CA&&event_id=186">here</a>.</h4>
</div>



<div class="performanceinfo infofrancais">
<h2>Abendmusik&nbsp;et&nbsp;Musique&nbsp;pour&nbsp;l'hydroörganon</h2><br />
<h2>5 octobre, 2019<br>19 h</h2><h3>Église Saint-Léon de Westmount</h3>
<p>4311, boul. de Maisonneuve Ouest, Montréal, QC</p><h4 class="left">Billets disponible <a href="http://ciocm.org/events2?language=en_CA&&event_id=186">ici</a>.
</h4>
</div>
</div> -->



<!-- <hr> <div id="currentperformanceheader">
<h1>High Tea</h1>
<h3>Fundraiser and Concert</h3>

<div id="currentperformanceinfo" class="frontinfodescription">
<div class="performanceinfo englishinfo">
<h2>18 November, 2018<br>3 pm</h2><h3>Dawson Hall, St. James United Church</h3><p>1425 rue City Councillors, Montreal QC</p><h4 class="right">All Tickets</h4>
</div>
<div class="performanceinfo infofrancais">
<h2>18 Novembre, 2018<br>15 h</h2><h3>Dawson Hall, Église St-James United</h3>
<p>1425 rue City Councillors, Montréal QC</p><h4 class="left">Tous les billets</h4>
</div>
</div>
<div id="currentperformancefooter"><a href="http://bit.ly/high-tea-nov18" target="_blank">http://bit.ly/high-tea-nov18</a></div>
</div>  -->

<!-- <hr> <div id="currentperformanceheader">
<h1>High Tea Fundraiser</h1>
<h3>Fundraiser and Concert</h3>
<h5>Rebecca Bain, Direction</h5></div>
<div id="currentperformanceinfo" class="frontinfodescription">
<div class="performanceinfo englishinfo">
<h2>10 February 2018<br>3pm</h2><h3>Chapel of Notre Dame de Bonsecours</h3><p>400 St Paul St. East, Montreal</p><h4 class="right">All Tickets</h4>
</div>
<div class="performanceinfo infofrancais">
<h2>10 Fév 2018<br>15h</h2><h3>Chapelle de Notre-Dame-de-Bonsecours</h3>
<p>400 Rue St-Paul Est, Montréal</p><h4 class="left">Tous les billets</h4>
</div>
</div>
<div id="currentperformancefooter"><a href="https://machaut.brownpapertickets.com/" target="_blank">https://machaut.brownpapertickets.com/</a></div>
</div>  -->
    </main>

    {% include footer.html %}

  </body>

</html>
